.Actors{
    &__header{
        display: flex;
        flex-direction: row-reverse;
        img {
            max-width: 40%;
        }
    }
    @media (max-width: 600px) {
        &__header{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            img {
                max-width: 60%;
            }
        }
    }

    &__header__description{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 5%;
    }
    @media (max-width: 600px) {
        &__header__description{
            width: 100%;
        }
    }

    &__filters{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
    }
}