.Form {
    display: flex;
    flex-flow: column nowrap;
    gap: .75rem;
    .Form__fieldCtn {
        display: flex;
        flex-flow: column nowrap;
        gap: .25rem;
    }
    .Form__label {
        font-size: $font-size-sm;
        display: inline-block;
    }
}