.SheetView {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    margin-top: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 22.5rem;
    grid-template-rows: auto auto;
    grid-column-gap: 2.5rem;

    .SheetView__logoCtn {
        width: 100%;
        height: 275px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .25rem;
        border: solid 1px rgb(var(--v-theme-main-blue));

        
        .SheetView__logo {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .SheetView__infoCardCtn {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2rem;
        > * {
            flex: 1 0 25rem;
        }
    }

    .SheetView__contentCtn {
        display: flex;
        flex-flow: column wrap;
        gap: .5rem;
        width: 100%;
    }

    .SheetView__updatedAtCtn {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        color: rgb(var(--v-theme-main-blue));
        font-size: $font-size-xs;
        align-self: flex-end;
    }

    .SheetView__infoCard {
        background: rgb(var(--v-theme-light-yellow));
        padding: 1.5rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5rem;
    }

    .SheetView__title {
        color: rgb(var(--v-theme-main-blue));
        font-size: $font-size-h5;
        font-weight: 700;
        width: 100%;
        padding-bottom: .5rem;
        margin-bottom: .25rem;

        &--divider {
            border-bottom: solid 4px rgb(var(--v-theme-light-yellow));
            margin-bottom: .5rem;
        }
    }

    .SheetView__block {
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;

        &--left {
            grid-area: 1 / 1 / 2 / 2;
        }

        &--right {
            gap: 2rem;
            grid-area: 1 / 2 / 2 / 3;
            transform: translateY(-4rem);
        }

        &--bottom {
            grid-area: 2 / 1 / 3 / 3;
        }
    }
}

@media (max-width: $bp-xl) {
    .SheetView {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto;
        max-width: 100%;
        row-gap: 2rem;

        .SheetView__block {
            &--left {
                grid-area: 1;
            }

            &--right {
                grid-area: 2;
                transform: translateY(0);
            }

            &--bottom {
                grid-area: 3;
            }
        }
    }
}