$font-size-h1: 2.5rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 0.875rem;

$font-size-sm: 0.875rem;
$font-size-xs: 0.8rem;

$font-primary: 'Ojuju', sans-serif;
$font-secondary: 'Onest', sans-serif;